// COLORS
$blueColor: #2c50ef;
$darkBlueColor: #2445d7;

$grayColor: #f4f6fa;
$darkGrayColor: #efefef;

$blackColor: #444;
$whiteColor: #fff;

// OPTIONS
$primary: $blueColor;
$primaryDark: $darkBlueColor;

$gray: $grayColor;
$darkGray: $darkGrayColor;

$black: $blackColor;
$white: $whiteColor;
